$bg-color: rgb(245, 248, 249);
$blue: rgb(206, 217, 253);
$red: rgb(249, 203, 160);
$green: rgb(189, 219, 166);
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$text-blue: rgb(49, 63, 108);
$text-red: rgb(167, 98, 35);
$text-green: rgb(94, 119, 75);
$text-grey: rgb(194, 194, 194);
$text-black: rgb(22, 22, 22);
